/* FOOTER START*/
.gridsFooter{
    grid-column: 1 / 20 ;
    grid-row: 34 / 36 ;
    margin-top: 45px;
    margin-right: -3.2px;
    background: #D9D9D9;
}
.sectionFooter img{
    position: absolute;
    width: 379px;
    height: 114px;
    top: 3345px;
    left: 0px;
}
.textDerechos{
    position: absolute;
    top: 3450px;
    left: 30px;
    width: 312px;
    color: #000;
    font-family: 'Cabin';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
}
.textgLarz{
    position: absolute;
    top: 3450px;
    left: 1720px;
    width: 180px;
    color: #000;
    font-family: Cabin;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
    a{
        color: #065075;
        text-decoration: none;
    }
}